cask "sdf-flash-gui" do
  version "${VERSION}"

  on_arm do
    sha256 "${ARM_SHA256}"
    url "${RELEASE_URL}/${ARM_FILENAME}"
  end
  on_intel do
    sha256 "${INTEL_SHA256}"
    url "${RELEASE_URL}/${INTEL_FILENAME}"
  end

  name "SDF Flash GUI"
  desc "Cross-platform GUI for flashing optical drives"
  homepage "https://github.com/thedavidweng/sdf-flash-gui"

  livecheck do
    url :url
    strategy :github_latest
  end

  app "SDF Flash GUI.app"

  postflight do
    system_command "/usr/bin/xattr",
                   args: ["-rd", "com.apple.quarantine", "#{appdir}/SDF Flash GUI.app"]
  end
end